extended layout

block content
  div.center
   form
    label Titulo
    br
    input(name="tittle")
    br
    label autor
    br
    input(name="author")
    br
    label Tema
    br
    input(name ="topic")
    br
    label Contenido
    br
    textarea (rows="10" cols="50")
    br
    button.btn(type="submit") Guardar
